.product {
	min-width: 122px; 
	min-height: 170px; 
	height: 275px; 
	text-align: center;
}
.title {
	height: 44px; 
	overflow: hidden;
	cursor: pointer;
}
.open {
	background: url('../images/loading.gif') no-repeat right center;
	background-size: 34px 34px;
}
#top-sellers hr {
	margin: 5px 0;
}
#top-sellers a {
	text-decoration: none;
	cursor: pointer;
}
#top-sellers img {
	float: left;
}

#filters h2 {
	cursor: pointer;
}

#filters .glyphicon {
	font-size: 20px;
}
/* Slider Range*/
#price-range .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
#price-range .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
#price-range .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
#price-range .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
#price-range .ui-widget-content {
    border: 1px solid #AAA;
    background: #FFF url("../images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50%;
    color: #222;
}
#price-range .ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
#price-range .ui-slider-horizontal {
    height: 0.8em;
}
#price-range .ui-slider {
    position: relative;
    text-align: left;
}
#price-range .ui-slider-horizontal .ui-slider-range {
    top: 0px;
    height: 100%;
}
#price-range .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0px none;
    background-position: 0px 0px;
}
#price-range .ui-widget-header {
    border: 1px solid #AAA;
    background: #CCC url("../images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50%;
    color: #222;
    font-weight: bold;
}
#price-range .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #D3D3D3;
    background: #E6E6E6 url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50%;
    font-weight: normal;
    color: #555;
}
#price-range .ui-slider-horizontal .ui-slider-handle {
    top: -0.3em;
    margin-left: -0.6em;
}
#price-range .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

#filters h2:focus {
	outline: none;
}

/* Autocomplete */
#ui-id-1 {
    border: 1px solid #AAA;
    background: #FFF url("../images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50%;
    color: #222;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    list-style: outside none none;
    padding: 0px;
    margin: 0px;
    display: block;
    outline: medium none;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: default;
    z-index: 100;
}
#ui-id-1 .ui-menu-item {
    position: relative;
    margin: 0px;
    padding: 3px 1em 3px 0.4em;
    cursor: pointer;
    min-height: 0px;
}

#ui-id-1 .ui-state-default,
#ui-id-1 .ui-widget-content .ui-state-default,
#ui-id-1 .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url("../images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
#ui-id-1 .ui-state-default a,
#ui-id-1 .ui-state-default a:link,
#ui-id-1 .ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
#ui-id-1 .ui-state-hover,
#ui-id-1 .ui-widget-content .ui-state-hover,
#ui-id-1 .ui-widget-header .ui-state-hover,
#ui-id-1 .ui-state-focus,
#ui-id-1 .ui-widget-content .ui-state-focus,
#ui-id-1 .ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url("../images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
#ui-id-1 .ui-state-hover a,
#ui-id-1 .ui-state-hover a:hover,
#ui-id-1 .ui-state-hover a:link,
#ui-id-1 .ui-state-hover a:visited,
#ui-id-1 .ui-state-focus a,
#ui-id-1 .ui-state-focus a:hover,
#ui-id-1 .ui-state-focus a:link,
#ui-id-1 .ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}
#ui-id-1 .ui-state-active,
#ui-id-1 .ui-widget-content .ui-state-active,
#ui-id-1 .ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url("../images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
#ui-id-1 .ui-state-active a,
#ui-id-1 .ui-state-active a:link,
#ui-id-1 .ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}


.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}